.auto-complete-option {
  padding: 8px;
  cursor: pointer;
}

.auto-complete-option[aria-selected="true"],
.auto-complete-option:hover {
  background-color: #333;
}

.auto-complete-option .highlight {
  background-color: #333;
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  .auto-complete-option[aria-selected="true"],
  .auto-complete-option:hover {
    background-color: #ddd;
  }

  .auto-complete-option .highlight {
    background-color: #ccc;
  }
}
