.auto-complete {
  position: relative;
  display: inline-block;
}

.auto-complete input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auto-complete--open input,
.auto-complete--open input:focus-visible {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.auto-complete .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #888;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  list-style: none;
  padding: 0;
  margin: 0;
}
